body>.ui.grid>.row {
    padding-bottom: 0;
}

h1.ui.dividing.header {
    margin-top: 20px;
}

resource-method>.ui.row {
    padding-top: 15px;
}

.menu-column {
  background: #1B1C1D;
}

.third-column {
  background: #f9f9f9;
}

.ui.menu {
  border-radius: 0;
}

.jsonview {
  font-size: 0.9em;
}
